body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
    height: 300px;
    width: 350px;
    border-style: double;
    border-color: rgb(128, 165, 221);
    border-radius: 10px;
    position: relative;
    top: 200px;
    left: 170px;
    padding: 20px 30px;
}
h1{
    color: rgb(144, 196, 245);
    text-align: center;
    font-weight: 700;
}
label{
    color: rgb(144, 196, 245);
    font-weight: 500;
}
input{
    width: 90%;
    margin: 10px 0px;
    height: 30px;
    border-radius: 10px;
    border-style: inset;
    border-color: rgb(144, 196, 245);   
}
button{
    height: 35px;
    width: 60px;
    margin-top: 6px;
    border-radius: 7px;
    border-color: rgb(144, 196, 245);;
    background-color: rgb(144, 196, 245);;
}
h1:hover{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form:hover{
    background-color: aquamarine;
}
form:active{
    background-color: brown;
}
